@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #f0f4fb;
    --color-secundario: #0A3871;
    --color-terciario: #D8DFE8;
    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header nav img {
    height: 50px;
}

main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex: 1; 
}

.seccion-izquierda, .seccion-derecha {
    background: white;
    border-radius: 30px;
    padding: 20px;
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.seccion-izquierda {
    flex: 2;
    background: #f0f4fb;
    padding-left: 8%;
}

.seccion-derecha {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

h1 {
    font-family: var(--fuente-krona);
    font-size: 24px;
    margin-bottom: 20px;
}

.texto-entrada-izquierda {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: auto;
    padding: 10px;
    font-family: var(--fuente-montserrat);
    font-size: 26px;
    border-radius: 5px;
    border: 0;
    outline: none;
    margin-bottom: 20px;
    color: var(--color-secundario);
    background-color: var(--color-primario);
    flex: 1; 
}

.texto-salida-derecha {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: auto;
    padding: 10px;
    font-family: var(--fuente-montserrat);
    font-size: 20px;
    border-radius: 5px;
    color: var(--color-secundario);
    background-color: white;
    border: none; 
    outline: none; 
    flex: 1; 
    box-sizing: border-box;
}

.contenedor-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.contenedor-imagen img {
    width: 200px;
    margin-bottom: 20px;
}

.contenedor-imagen p {
    text-align: center;
    font-size: 16px;
    color: var(--color-secundario);
}

.contenedor-botones {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}

.contenedor-boton-copiar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 8%;
}

.boton-encriptar, .boton-desencriptar, .boton-copiar {
    padding: 20px 80px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: var(--fuente-montserrat);
    font-size: 16px;
}

.boton-encriptar {
    background-color: var(--color-secundario);
    color: white;
}

.boton-desencriptar {
    background-color: var(--color-terciario);
    color: var(--color-secundario);
}

.boton-copiar {
    border: 1px solid var(--color-secundario);
    background-color: white;
    color: var(--color-secundario);
    margin-top: 20px;
    align-self: center; 
}

.nota {
    font-size: 12px;
    color: #555;
    display: flex;
    align-items: center;
}

.nota::before {
    content: '!';
    color: red;
    font-size: 16px;
    margin-right: 5px;
}

.contenedor-salida {
    position: relative;
    width: 100%;
    height: 100%;
    border: none; 
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
}

.contenedor-salida textarea {
    width: 100%;
    height: 100%;
    border: none; 
    padding: 10px;
    resize: none;
    z-index: 1;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    box-sizing: border-box;
}

.contenedor-salida .contenedor-imagen {
    z-index: 0;
}

/* Responsive */

/* Para tabletas */
@media screen and (max-width: 1280px) {
    main {
        flex-direction: column;
    }

    .seccion-izquierda, .seccion-derecha {
        width: 100%;
        margin: 10px 0;
        padding: 15px;
    }

    .texto-entrada-izquierda {
        font-size: 20px;
    }

    .texto-salida-derecha {
        font-size: 18px;
    }

    .contenedor-botones {
        flex-direction: unset;
        align-items: center;
        gap: 10px;
    }

    .boton-encriptar, .boton-desencriptar, .boton-copiar {
        width: 80%;
        padding: 15px 40px;
    }

    .contenedor-imagen img {
        display: none; /*Ocultar imagen*/
    }
}

/* Para teléfonos celulares */
@media screen and (max-width: 912px) {
    .seccion-izquierda, .seccion-derecha {
        width: 100%;
        margin: 10px 0;
        padding: 15px;
    }

    .texto-entrada-izquierda {
        font-size: 18px;
    }

    .texto-salida-derecha {
        font-size: 16px;
    }

    .contenedor-botones {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .contenedor-boton-copiar {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .boton-encriptar, .boton-desencriptar, .boton-copiar {
        width: 100%;
        padding: 15px 30px;
    }

    .nota {
        font-size: 10px;
        margin-top: 10px;
    }

    header nav img {
        height: 40px;
    }

    .contenedor-imagen img {
        display: none; 
    }
}
